---
layout: page
title: Ohio Suffrage Centennial
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Ohio Suffrage Centennial</h1>
          <p class="animated fadeInUp">An information clearinghouse for Ohio events, sites, and connections to the 2020 women's suffrage centennial.</p>
          <p><a class="btn btn-default btn-call-to-action" href="https://www.loc.gov/item/2001704187/" target="_blank">About this image</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>We are here to help you celebrate 100 years of women's right to vote!</p>
          </div>
          <p>Use this site to plan a trip, find and spread the word about events, and discover Ohio's connections to the 72-year fight for woman suffrage.</p>
          <p><a class="btn btn-default btn-call-to-action" href="https://www.loc.gov/item/97500065/" target="_blank">About this image</a></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>OHIO PEOPLE AND PLACES</h2>
      <p>From north to south, east to west, Ohio played a crucial yet forgotten role in the struggle for woman suffrage, a 72-plus-year campaign that cost millions of dollars and to which generations of women dedicated their lives.</p>
      <p><b>1828</b> Frances Wright becomes the first woman in the United States to speak in public, launching what would become an international speaking career in the Hamilton County, Ohio courthouse.</p>
      <p><b>1848</b> Less than 2 months after participating in the woman's rights convention at Seneca Falls, Frederick Douglass leads the National Convention of Black Freemen in Cleveland, Ohio, which was the very first national convention to permit participation by women.</p>
      <p><b>1850</b> Activists in Salem, Ohio host a statewide women's rights convention, the first convention to be run and organized entirely by women.</p>
      <p><b>1869</b> Inspired by events he witnessed at the 1850 Salem Convention as a young man, John Allen Campbell, first territorial governor of Wyoming, signs into law a bill establishing Wyoming as the first place in the United States to extend equal suffrage to women.</p>
      <p><b>1869</b> The American Woman Suffrage Association is formed at a meeting in Cleveland, Ohio.</sp>
      <p><b>1870</b> Victoria Woodhull of Homer, Ohio becomes the first female candidate for president of the United States.
      <p><b>1903-1910</b> The National American Woman Suffrage Association is headquartered in Warren, Ohio.</p>
      <p><b>1904</b> Suffragist Pauline Perlmutter Steinem (grandmother to activist Gloria Steinem) is elected to the Toledo school board, possibly becoming the very first Jewish woman elected to public office in the United States.</p>
      <p><b>1920</b> Suffragists declare Ohio as crucial to final effort for ratification in Tennessee as they seek the aid and influence of presidential candidates Warren G. Harding (Marion, Ohio) and George M. Cox (Dayton, Ohio).</p>
      <a href="{{ site.baseurl }}/connections" class="btn btn-view-works">Learn more about Ohio connections</a>
      <p></p>
      <p><a class="btn btn-default btn-call-to-action" href="http://www.ohiomemory.org/cdm/ref/collection/p267401coll32/id/16226" target="_blank">About this image</a></p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Ohio Woman Suffrage Trip Ideas</h2>
        <p>Places to visit in Ohio to celebrate 100 years of women's right to vote.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4><a href="http://www.robbinshunter.org" target="_blank"> Robbins Hunter Museum</a></h4>
          <p>Granville, Ohio </p>
          <p>Site of only US monument to Victoria Woodhull </p>
          <a class="btn btn-default btn-call-to-action" href="http://www.robbinshunter.org" target="_blank">Plan to go</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4><a href="http://www.uptonhouse.org/Park.html" target="_blank">Women's Park</h4>
          <p>Warren, Ohio </p>
          <p>Park dedicated to the women of Trumbull County, Ohio </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4><a href="http://www.uptonhouse.org/" target="_blank">Harriet Taylor Upton House</h4>
          <p>Warren, Ohio </p>
          <p>Home of Ohio suffragist Harriet Taylor Upton </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Idea</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Idea</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Idea</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Idea</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Idea</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Are you planning an event in Ohio?</h2>
          <p><a href="https://www.2020centennial.org/share-centennial-plans" target="_blank">Share your event</a> with the Women’s Vote Centennial Initiative (WVCI). WVCI is a collaborative effort created to share information and stimulate activities around the country in the years leading up to 2020. <a href="https://www.2020centennial.org/share-centennial-plans" target="_blank">Share your Ohio suffrage centennial plans</a> using the form on the WVCI website, and your programs and events will be added to the WVCI central centennial calendar and the designated regional centennial calendar.</p>
          <a class="btn btn-default btn-call-to-action" href="https://www.2020centennial.org/share-centennial-plans" target="_blank">Add your event now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fast Facts About the Women's Right to Vote</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
