---
layout: page
title: Ohio Suffrage Centennial
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Ohio Suffrage Centennial</h1>
          <p class="animated fadeInUp">Use this site to plan a trip, find and spread the word about events, and discover Ohio's connections to the 72-year fight for woman suffrage.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<!-- hide About Us
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>We are here to help you celebrate 100 years of women's right to vote!</p>
          </div>
          <p>Use this site to plan a trip, find and spread the word about events, and discover Ohio's connections to the 72-year fight for woman suffrage.</p>
          <p><a class="btn btn-default btn-call-to-action" href="https://www.loc.gov/item/97500065/" target="_blank">About this image</a></p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>OHIO PEOPLE AND PLACES</h2>
      <p>From north to south, east to west, Ohio played a crucial yet forgotten role in the struggle for woman suffrage, a 72-plus-year campaign that cost millions of dollars and to which generations of women dedicated their lives.</p>
      <p><b>Did you know...</b></p>
      <p>The 1848 National Convention of Black Freemen was the very <b>first national convention to allow women's participation</b>, and it was held in Cleveland?</p>
      <p>The <b>1850 Ohio Women's Convention at Salem</b> was the first convention to be run and organized entirely by women?</p>
      <p>Sojourner Truth gave her famous <b>"Ain't I a Woman?" speech</b> in Akron, Ohio?</p>
      <p>The governor who made Wyoming the first place in the US to extend equal suffrage to women had <b>witnessed the 1850 Salem Convention as a teenager</b>?</p>
      <p>The <b>first female candidate for president of the United States</b> was born in Homer, Ohio?</p>
      <a href="{{ site.baseurl }}/connections" class="btn btn-view-works">Learn more about Ohio connections</a>
      <p></p>
      <p><a class="btn btn-default btn-call-to-action" href="http://www.ohiomemory.org/cdm/ref/collection/p267401coll32/id/16226" target="_blank">&#8592; About this image</a></p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Ohio Woman Suffrage Trip Ideas</h2>
        <p>Places to visit in Ohio to celebrate 100 years of women's right to vote.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-navigate"></i>
          <h4><a href="https://en.wikipedia.org/wiki/Victoria_Woodhull" target="_blank">Visit Victoria Woodhull's Hometown</a></h4>
          <p>Homer, Ohio</p>
          <p>Explore the Woodhull collection and historical marker at the <a href="https://homer.lib.oh.us/content/victoria-claflin-woodhull" target="_blank">Homer Public Library</a>. Then, head south to the <a href="http://www.robbinshunter.org" target="_blank">Robbins Hunter Museum</a> in Granville to see the only US monument to her.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-navigate"></i>
          <h4><a href="http://www.salemnews.net/news/local-news/2017/09/markers-cite-salems-place-in-womens-rights-movement/" target="_blank">Take a Selfie <br>in Salem</a></h4>
          <p>Salem, Ohio</p>
          <p>Get a picture with one of the historical markers for the <a href="https://en.wikipedia.org/wiki/Ohio_Women%27s_Convention_at_Salem_in_1850" target="_blank">1850 Ohio Women's Convention</a> at each of the four ways into town and visit the <a href="http://www.salemhistoricalsociety.org/home.html" target="_blank">Salem Historical Society Museum</a>.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-navigate"></i>
          <h4><a href="http://www.uptonhouse.org/" target="_blank">Head to the <br>Harriet Taylor Upton House</a></h4>
          <p>Warren, Ohio </p>
          <p>Visit the home and gardens of Ohio suffragist <a href="https://en.wikipedia.org/wiki/Harriet_Taylor_Upton" target="_blank">Harriet Taylor Upton</a>, treasurer of the <a href="https://en.wikipedia.org/wiki/National_Woman_Suffrage_Association" target="_blank">National Woman Suffrage Association</a> from 1903 to 1910. Check out the <a href="http://www.uptonhouse.org/museum.html" target="_blank">Suffrage Museum</a> too.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-navigate"></i>
          <h4><a href="https://www.theclio.com/web/entry?id=52523" target="_blank">Stop by the <br>Sojourner Truth Building</a></h4>
          <p>Akron, Ohio</p>
          <p>Visit the site of <a haref="https://www.womenshistory.org/education-resources/biographies/sojourner-truth" target="blank">Sojourner Truth's</a> historic <a href="https://en.wikipedia.org/wiki/Ain%27t_I_a_Woman%3F" target="_blank">"Ain't I a Woman?"</a> speech. The Old Stone Church where she spoke is gone, but this building stands on the same site and has <a href="https://www.hmdb.org/marker.asp?marker=43726" target="_blank">a historical marker</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Are you planning an event in Ohio?</h2>
          <p>Share your event with a national audience! Post it on the <a href="https://www.2020centennial.org/share-centennial-plans" target="_blank">Women' Vote Centennial Initiative (WVCI) national calendar</a>. Share your 2019-2020 Ohio suffrage centennial year plans using the form on the WVCI website, and your event will be added to the central calendar and the designated regional centennial calendar.</p>
          <a class="btn btn-default btn-call-to-action" href="https://www.2020centennial.org/share-centennial-plans" target="_blank">Add your event now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fast Facts About the Women's Right to Vote</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- Test format
<section id="feature">
  -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="section-title">
            <h2>About the header image on this site</h2>
            <p>The header image on this site shows Miss Louise Hall (with brush) and Miss Susan Fitzgerald posting "Votes for Women" bills in Cincinnati in <a href="https://ballotpedia.org/Ohio_Women%27s_Suffrage,_Amendment_23_(September_1912)">1912.</p>
          <p><a class="btn btn-default btn-call-to-action" href="http://www.loc.gov/pictures/item/2001704187/" target="_blank">Original image at Library of Congress website</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- 
</section>
-->